# LLM
google-genai>=1.0.0,<2.0.0
openai>=1.50.0
python-dotenv==1.2.2

# Web Application
fastapi==0.135.1
uvicorn==0.42.0
python-multipart==0.0.22
pydantic-settings==2.13.1

# Database
SQLAlchemy==2.0.48
asyncpg==0.31.0
psycopg2-binary==2.9.11
